@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to 7x ---- </h1>
    <p>Learn about <a href="https://www.7x.ae/">building Web apps with ASP.NET Core</a>.</p>
</div>
